/* General Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0px 1px 3px -2px;
    align-items: center;
    background-color: #fff;        
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
  }
  .nav-logo img {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
  }
  
  .nav-menu {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 15px;
    color: blueviolet;
    font-family: Arial, sans-serif;
    font-weight: 500;
  }
  
  .nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: black;
  }
  
  .nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: blue;
  }
  
  .nav-login-book {
    display: flex;
    gap: 45px;
    align-items: center;
  }
  
  .nav-login-book .blue-button , .blue-buttone {
    width: 157px;
    text-decoration: none;
    color: blue;
    height: 58px;
    outline: none;
    border: 1px solid blue;
    border-radius: 75px;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .nav-login-book .blue-button, .blue-buttone a {
    text-decoration: none;
    color: black;
  }
  
  .nav-login-book .blue-button:hover , .blue-buttone:hover {
    background-color: blue;
    color: white;
  }
  
  .nav-dropdown {
    display: none;
    cursor: pointer;
  }
  
  .nav-dropdown span {
    font-size: 30px;
    color: black;
  }
  
  @media (max-width: 800px) {
    /* Navbar and logo adjustments */
    .navbar {
      padding: 8px 16px;
      justify-content: space-between;
    }
  
    .nav-logo img {
      width: 80px;
    }
  
    /* Show hamburger menu button */
    .nav-dropdown {
      display: block;
    }
  
    /* Hide menu by default on mobile */
    .nav-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: white;
      top: 60px;
      left: 0;
      width: 100%;
      gap: 20px;
      padding: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 10;
    }
  
    /* Toggle the menu visibility when clicked */
    .nav-menu-visible {
      display: flex;
    }
  
    .nav-menu li {
      text-align: center;
      padding: 10px 0;
      width: 100%;
    }
  
    .nav-menu hr {
      width: 90%;
    }
  
    .nav-dropdown.open {
      transform: rotate(90deg);
    }
  }
  
  @media (max-width: 500px) {
    .navbar {
      padding: 8px 0px;
      gap: 0;
    }
  
    .nav-logo {
      transform: scale(0.8);
    }
  
    .nav-login-book {
      transform: scale(0.95);
    }
  
    .nav-menu {
      top: 50px;
      left: 0;
      width: 100%;
      background-color: white;
    }
  
     .blue-button {
      display: none;
    }
  }
  